.text-default {
    color: #16D391;
}

.services{
    height: 340px;
    background-color: #fff;
}

.big-text{
    font-size: 29px !important;
}

.bigger-text {
    font-size: 36px !important;
}

.biggest-text {
    font-size: 51px !important;
}
.banner-text {
    bottom: 3.4rem;
    width: 100%;
    text-align: center;
}

.text-align{
    text-align: center;
}

.otp span {
    letter-spacing: 1rem;
}
.claiming{
    height: 200px;
    background-color: #fff;
    text-align: center;
}

.claiming input[type="text"]{
    width: 625px;
    height: 70px;
    border-radius: 40px;
    border: 1px solid #333;
    text-indent: 1rem;
}
.round {
    border-radius: 40px;
}
.text-center{
    text-align: center;
}
.border-thin{
    border: 0 solid #ebebeb;
    box-shadow: 0px 3px 6px #00000029;
}
.services-lottie .lf-player-container {
    width: 100px;
    height: 100px;
    margin-right: 3rem;
    margin-left: 5rem;
}
.option-lang {
    display: flex;
    justify-content: space-evenly;
    width: 200px !important;
    align-items: center;
    height: 50px;
    font-size: 18px;
}

.option-lang div {
    padding: 10px 0;   
    width: 50%;
    background-color: #f6f6f6;
    color: #9a9a9a;
    text-align:center;
}

.option-lang div.active {
    background-image: linear-gradient(180deg, #50BA84 0%, #15ABD0 100%);
    color: #fff;
}
.keyboard-layout {
    background-image: linear-gradient(180deg, #50BA84 0%, #15ABD0 100%);
    color: #fff;
}
.keyboard-btn {
    width: 150px;
    height: 150px;
}

.keyboard-clear-btn {
    height: 150px;
    width: 335px;
}
.option-lang div:nth-child(1) {
    border-radius: 20px 0 0 20px;
}

.option-lang div:nth-child(2) {
    border-radius: 0 20px 20px 0;
}
input[type="radio"] {
    display: none;
}

.px-6 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
}
.pt-10 {
    padding-top: 10rem !important;
}
.pt-6{
    padding-top: 8rem !important;
}

.pb-6 {
    padding-bottom: 8rem !important;
}
.pb-7 {
    padding-bottom: 10rem !important;
}
.mt-6 {
    margin-top: 3rem !important;
}

.services-lottie{
    height: 150px;
}
.active.services-lottie{
    border: 1px solid #16D391;
    height: 194px;
    transition: 0.3s;
}
.active.services-lottie .small-text{
    display: block;
}
.active.services-lottie .big-text{
    color: #16D391 !important;
}
.small-text{
    display: none;
    font-size: 25px;
}
small {
    font-size: 15px !important;
    font-weight: 100 !important;
}
.home{
    position: absolute;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
}
.hidden {
    display: none;
}

.btn-big {
    width: 405px;
    height: 150px;
}

.border-big-radius{
    border-radius: 93px !important;
}
.btn-default {
    background-color: #16D391 !important;
}
.btn-img {
    width: 41px;
    height: 73px;
    right: 6rem;
    top: 2.5rem;
}
